# **Space X  Falcon 9 First Stage Landing Prediction**

## Web scraping Falcon 9 and Falcon Heavy Launches Records from Wikipedia

In this lab, I will be performing web scraping to collect Falcon 9 historical launch records from a Wikipedia page titled `List of Falcon 9 and Falcon Heavy launches`

https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/Falcon9_rocket_family.svg)

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

More specifically, the launch records are stored in a HTML table shown below:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/falcon9-launches-wiki.png)

  ## Objectives
Web scrap Falcon 9 launch records with `BeautifulSoup`: 
- Extract the HTML table containing Falcon 9 launch records from Wikipedia.
- Parse the table using BeautifulSoup and convert it into a pandas DataFrame for analysis.

In [1]:
!pip3 install beautifulsoup4
!pip3 install requests

Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from beautifulsoup4) (2.5)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (2024.2.2)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import sys
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd
import requests

these are some helper functions, to process web scraped HTML table

In [3]:
def date_time(table_cells):
    """
    This function returns the data and time from the HTML  table cell
    Input: the  element of a table data cell extracts extra row
    """
    return [data_time.strip() for data_time in list(table_cells.strings)][0:2]

def booster_version(table_cells):
    """
    This function returns the booster version from the HTML  table cell 
    Input: the  element of a table data cell extracts extra row
    """
    out=''.join([booster_version for i,booster_version in enumerate( table_cells.strings) if i%2==0][0:-1])
    return out

def landing_status(table_cells):
    """
    This function returns the landing status from the HTML table cell 
    Input: the  element of a table data cell extracts extra row
    """
    out=[i for i in table_cells.strings][0]
    return out


# Function to extract mass as a numeric value
def get_mass(table_cells):
    if pd.isna(table_cells):  # Handle NaN values
        return 0
    mass = unicodedata.normalize("NFKD", str(table_cells)).strip()
    if "kg" in mass:
        # Remove non-numeric characters except dot, comma, or digits
        mass_numeric = re.sub(r'[^\d.,]', '', mass)
        try:
            # Replace commas and convert to float
            new_mass = float(mass_numeric.replace(",", "").strip())
        except ValueError:
            # If there's a conversion issue, return 0
            new_mass = 0
    else:
        new_mass = 0
    return new_mass


def extract_column_from_header(row):
    """
    This function returns the landing status from the HTML table cell 
    Input: the  element of a table data cell extracts extra row
    """
    if (row.br):
        row.br.extract()
    if row.a:
        row.a.extract()
    if row.sup:
        row.sup.extract()
        
    colunm_name = ' '.join(row.contents)
    
    # Filter the digit and empty names
    if not(colunm_name.strip().isdigit()):
        colunm_name = colunm_name.strip()
        return colunm_name

To keep the lab tasks consistent, you will be asked to scrape the data from a snapshot of the  `List of Falcon 9 and Falcon Heavy launches` Wikipage updated on `9th June 2021`

In [4]:
static_url = "https://en.wikipedia.org/w/index.php?title=List_of_Falcon_9_and_Falcon_Heavy_launches&oldid=1027686922"

Next, request the HTML page from the above URL and get a `response` object

In [5]:
response = requests.get(static_url)

Create a `BeautifulSoup` object from the HTML `response`

In [6]:
soup = BeautifulSoup(response.content)

In [7]:
soup.title

Next, we want to collect all relevant column names from the HTML table header</p>Let's try to find all tables on the wiki page first.

In [8]:
html_tables = soup.find_all('table')
len(html_tables)

26

Starting from the third table is our target table contains the actual launch records.

In [9]:
first_launch_table = html_tables[2]

Next, I just need to iterate through the `<th>` elements and apply the provided `extract_column_from_header()` to extract column name one by one

In [10]:
all_th = first_launch_table.find_all('th')
column_names = [extract_column_from_header(th).strip() for th in all_th if th is not None and extract_column_from_header(th) if not None and extract_column_from_header(th).strip()]
column_names

['Flight No.',
 'Date and time ( )',
 'Launch site',
 'Payload',
 'Payload mass',
 'Orbit',
 'Customer',
 'Launch outcome']

I will create an empty dictionary with keys from the extracted column names in the previous task. Later, this dictionary will be converted into a Pandas dataframe

In [11]:
launch_dict = dict.fromkeys(column_names)

# Remove an irrelevant column
del launch_dict['Date and time ( )']

# Let's initial the launch_dict with each value to be an empty list
launch_dict['Flight No.'] = []
launch_dict['Launch site'] = []
launch_dict['Payload'] = []
launch_dict['Payload mass'] = []
launch_dict['Orbit'] = []
launch_dict['Customer'] = []
launch_dict['Launch outcome'] = []
# Added some new columns
launch_dict['Version Booster']=[]
launch_dict['Booster landing']=[]
launch_dict['Date']=[]
launch_dict['Time']=[]

Next, we just need to fill up the `launch_dict` with launch records extracted from table rows.

Usually, HTML tables in Wiki pages are likely to contain unexpected annotations and other types of noises, such as reference links `B0004.1[8]`, missing values `N/A [e]`, inconsistent formatting, etc.

In [13]:
extracted_row = 0

#Extract each table 
for table_number,table in enumerate(soup.find_all('table',"wikitable plainrowheaders collapsible")):
   # For each table, this loops over all rows (<tr> elements)
    for rows in table.find_all("tr"):
        # rows.th checks if the row contains a table header (<th> element)
        if rows.th:
            if rows.th.string:
                flight_number=rows.th.string.strip()
                flag=flight_number.isdigit()
        else:
            flag=False
        # get table element 
        row=rows.find_all('td')
        # if it is number save cells in a dictonary 
        if flag:
            extracted_row += 1
            # Flight Number value
            # TODO: Append the flight_number into launch_dict with key `Flight No.`
            launch_dict['Flight No.'].append(flight_number)
            # print(flight_number)
            datatimelist=date_time(row[0])
            
            # Date value
            # TODO: Append the date into launch_dict with key `Date`
            date = datatimelist[0].strip(',')
            launch_dict['Date'].append(date)
            # print(date)
            
            # Time value
            # TODO: Append the time into launch_dict with key `Time`
            time = datatimelist[1]
            launch_dict['Time'].append(time)
            # print(time)
              
            # Booster version
            # TODO: Append the bv into launch_dict with key `Version Booster`
            bv=booster_version(row[1])
            if not(bv):
                bv=row[1].a.string
            launch_dict['Version Booster'].append(bv)
            # print(bv)
            
            # Launch Site
            # TODO: Append the bv into launch_dict with key `Launch Site`
            launch_site = row[2].a.string
            launch_dict['Launch site'].append(launch_site)
            # print(launch_site)
            
            # Payload
            # TODO: Append the payload into launch_dict with key `Payload`
            payload = row[3].a.string
            launch_dict['Payload'].append(payload)
            # print(payload)
            
            # Payload Mass
            # TODO: Append the payload_mass into launch_dict with key `Payload mass`
            payload_mass = get_mass(row[4])
            launch_dict['Payload mass'].append(payload_mass)
            # print(payload)
            
            # Orbit
            # TODO: Append the orbit into launch_dict with key `Orbit`
            orbit = row[5].a.string
            launch_dict['Orbit'].append(orbit)
            # print(orbit)
            
            # Customer
            # TODO: Append the customer into launch_dict with key `Customer`
            if row[6].a:
                customer = row[6].a.string
            else:
                customer = row[6].string
            launch_dict['Customer'].append(customer)
            # print(customer)
            
            # Launch outcome
            # TODO: Append the launch_outcome into launch_dict with key `Launch outcome`
            launch_outcome = list(row[7].strings)[0]
            launch_dict['Launch outcome'].append(launch_outcome)
            # print(launch_outcome)
            
            # Booster landing
            # TODO: Append the launch_outcome into launch_dict with key `Booster landing`
            booster_landing = landing_status(row[8])
            launch_dict['Booster landing'].append(booster_landing)
            # print(booster_landing)

After I have filled in the parsed launch record values into `launch_dict`, I am creating a dataframe from it.

In [14]:
df = pd.DataFrame({ key: pd.Series(value) for key, value in launch_dict.items() })
df.head()

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0.000000e+00,LEO,SpaceX,Success\n,F9 v1.07B0003.18,Failure,4 June 2010,18:45
1,2,CCAFS,Dragon,0.000000e+00,LEO,NASA,Success,F9 v1.07B0004.18,Failure,8 December 2010,15:43
2,3,CCAFS,Dragon,5.251157e+12,LEO,NASA,Success,F9 v1.07B0005.18,No attempt\n,22 May 2012,07:44
3,4,CCAFS,SpaceX CRS-1,4.700104e+08,LEO,NASA,Success\n,F9 v1.07B0006.18,No attempt,8 October 2012,00:35
4,5,CCAFS,SpaceX CRS-2,4.877108e+08,LEO,NASA,Success\n,F9 v1.07B0007.18,No attempt\n,1 March 2013,15:10

We can now export it to a <b>CSV</b> for the next section.

In [15]:
# Apply the get_mass function to clean and convert 'Payload mass' to numeric values
df['Payload mass'] = df['Payload mass'].apply(get_mass)

# Replace 0s with NaN if needed, and fill NaN with mean value of the column
df['Payload mass'] = df['Payload mass'].replace(0, pd.NA)
df['Payload mass'] = df['Payload mass'].fillna(df['Payload mass'].mean())

# Print the updated DataFrame
df.head(20)

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success\n,F9 v1.07B0003.18,Failure,4 June 2010,18:45
1,2,CCAFS,Dragon,NaN,LEO,NASA,Success,F9 v1.07B0004.18,Failure,8 December 2010,15:43
2,3,CCAFS,Dragon,NaN,LEO,NASA,Success,F9 v1.07B0005.18,No attempt\n,22 May 2012,07:44
3,4,CCAFS,SpaceX CRS-1,NaN,LEO,NASA,Success\n,F9 v1.07B0006.18,No attempt,8 October 2012,00:35
4,5,CCAFS,SpaceX CRS-2,NaN,LEO,NASA,Success\n,F9 v1.07B0007.18,No attempt\n,1 March 2013,15:10
5,6,VAFB,CASSIOPE,NaN,Polar orbit,MDA,Success,F9 v1.17B10038,Uncontrolled,29 September 2013,16:00
6,7,CCAFS,SES-8,NaN,GTO,SES,Success,F9 v1.1,No attempt,3 December 2013,22:41
7,8,CCAFS,Thaicom 6,NaN,GTO,Thaicom,Success,F9 v1.1,No attempt,6 January 2014,22:06
8,9,Cape Canaveral,SpaceX CRS-3,NaN,LEO,NASA,Success\n,F9 v1.1,Controlled,18 April 2014,19:25
9,10,Cape Canaveral,Orbcomm-OG2,NaN,LEO,Orbcomm,Success,F9 v1.1,Controlled,14 July 2014,15:15
10,11,Cape Canaveral,AsiaSat 8,NaN,GTO,AsiaSat,Success,F9 v1.1,No attempt,5 August 2014,08:00
11,12,Cape Canaveral,AsiaSat 6,NaN,GTO,AsiaSat,Success,F9 v1.1[,No attempt\n,7 September 2014,05:00
12,13,Cape Canaveral,SpaceX CRS-4,NaN,LEO,NASA,Success,F9 v1.1[,Uncontrolled,21 September 2014,05:52
13,14,Cape Canaveral,SpaceX CRS-5,NaN,LEO,NASA,Success,F9 v1.1[,Failure,10 January 2015,09:47
14,15,Cape Canaveral,DSCOVR,NaN,HEO,USAF,Success\n,F9 v1.1[,Controlled,11 February 2015,23:03
15,16,Cape Canaveral,ABS-3A,NaN,GTO,ABS,Success\n,F9 v1.1[,No attempt,2 March 2015,03:50
16,17,Cape Canaveral,SpaceX CRS-6,NaN,LEO,NASA,Success\n,F9 v1.1[,Failure,14 April 2015,20:10
17,18,Cape Canaveral,TürkmenÄlem 52°E / MonacoSAT,NaN,GTO,None,Success\n,F9 v1.1[,No attempt,27 April 2015,23:03
18,19,Cape Canaveral,SpaceX CRS-7,NaN,LEO,NASA,Failure,F9 v1.1[,Precluded,28 June 2015,14:21
19,20,Cape Canaveral,Orbcomm-OG2,NaN,LEO,Orbcomm,Success\n,F9 FT[,Success,22 December 2015,01:29

In [16]:
df.to_csv('spacex_launches.csv', index=False)